* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right, #b993d6, #8ca6db);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.container:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	border-top: 1px solid snow;
	background-color: rgba(255, 255, 255, 0.06);
	border: 1.5px solid rgba(255, 255, 255, 0.06);
	box-shadow: 0 25px 30px rgba(0, 0, 0, 0.15);
	backdrop-filter:  blur(10px);
	
}

nav {
	width: 750px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul > li {
	list-style: none;
	width: 85px;
	height: 85px;
	background-color: rgba(255, 255, 255, 0.06);
	border: 1.5px solid rgba(255, 255, 255, 0.06);
	box-shadow: 0 25px 30px rgba(0, 0, 0, 0.15);
	backdrop-filter: blur(10px);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	border-radius: 8px;
	cursor: pointer;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
}

ul > li:before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background-image: -webkit-linear-gradient(left,
		rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.2) 50%,
		transparent 50%
	);
	top: 0;
	bottom: 0;
	right: 100px;
	transform: skew(-45deg);
	transition: 0.75s !important;
}

ul > li:hover {
	transform: translateY(-20px);
}

ul > li:hover:before {
	transform: skew(-45deg) translateX(200px);
	transition: left 2s;
}


a {
	color: snow;

}

ul > li:not(:first-child) {
	margin-left: 40px;
}