@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
	--body-font: "Poppins", sans-serif;
	--first-color: snow;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: url(img/bg1.jpg);
	background-size: 100% 100%;
	flex-direction: column;
	font-family: var(--body-font);

}

h1 {
	color: var(--first-color);
	position: relative;
	bottom: 20px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 15px;
	/*padding: 40px;*/
	position: relative;
	min-width: 450px;
	min-height: 750px;
	background-color: var(--first-color);
}

.gender {
	width: 100%;
	height: 10%;
	padding: 20px;
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 35px;
	/*margin-bottom: 200px;*/
}

.gender > h3 {
	margin-bottom: 5px;
	margin-left: 30px;
	color: #1f1f1f;
	font-size: 24px;

}

.genderChoice {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.genderChoice > input {
	-webkit-appearance: none;
}

sub {
	font-weight: 400;
	font-size: 13px;
	position: relative;
	bottom: 3px;
	left: 3px;
}

.genderChoice > label {
	padding: 5px 55px;
	border-radius: 5px;
	border: 2px solid #CC6029;
}
.genderChoice > label[for="genderM"] {
	border-radius: 3px 0 0 3px !important;
	border-right: 0;
}

.genderChoice > label[for="genderF"] {
	border-radius: 0 5px 5px 0 !important;
}

.genderChoice > input#genderM:checked ~ label[for="genderM"], .genderChoice > input#genderF:checked ~ label[for="genderF"] {
	color: var(--first-color);
	background-color: #cc6029;
}

.info {
	display: flex;
	align-items: center;
	/*justify-content: center;*/
	flex-direction: column;
	width: 100%;
	margin-top: 25px;
	padding: 0 25px;
}

.personBx {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	margin-bottom: 20px;
}

.bodyStat {
	outline: none;
	border: 1.5px solid #1f1f1f;
	width: 55px;
	padding: 5px 0px;
	text-align: center;
	font-family: var(--body-font);
	border-radius: 3px;
	margin-right: 20px;
	margin-top: 5px;
}

.bodyInfoBx {
	width: 33%;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

.bodyInfoBx h3 {
	font-size: 20px;
}

input[type="number"]:focus {
	border-color: #CC6029;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.fitnessBx {
	width: 100%;
	padding: 0 20px;
}

.fitnessBx h3 {
	font-size: 24px;
	margin-top: 20px;
	margin-left: 5px;
}

.fitnessProps {
	width: 100%;
	margin-left: 5px;
}

.fitBlock {
	display: flex;
	/*align-items: center;*/
	/*justify-content: center;*/
	flex-direction: column;
}

.radioBx {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.radioBx > label {
	margin-left: 10px;
	font-weight: 600;
	font-size: 18px;
}
.radioBx > input {
	position: relative;
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: center;*/
	background-color: #1231;
	/*-webkit-appearance: none;*/
	/*opacity: 0;*/
	filter: opacity(90%);
	
}

.radioBx > input#physicalChoice1:checked ~ label[for="physicalChoice1"],
.radioBx > input#physicalChoice2:checked ~ label[for="physicalChoice2"],
.radioBx > input#physicalChoice3:checked ~ label[for="physicalChoice3"],
.radioBx > input#physicalChoice4:checked ~ label[for="physicalChoice4"],
.radioBx > input#physicalChoice5:checked ~ label[for="physicalChoice5"] {
	color: #cc6029;
}

.radioBx > input:before {
	content: "";
	position: absolute;
	top: 2.6px;
	left: 2.6px;
	width: 60%;
	/*top: 50%;*/
	/*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
	height: 60%;
	border-radius: 50%;
}

input:checked:before {
	background-color: #cc6029;

}

.radioBx > input:after {
	content: "";
	position: absolute;
	width: 85%;
	height: 85%;
	left: 0.25px;
	border: 1px solid #cc6029;
	border-radius: 50%;
}

/*.radioBx > input:checked {
	background-color: #1221 !important;
	color: #1221 !important;
}*/

.subBx {
	margin-left: 23px;
	color: #a1a1a1 !important;
}

.fitBlock {
	display: flex;
	/*align-items: center;*/
	/*justify-content: center;*/
	width: 100%;
}

.fitBlock:not(:first-child) {
	margin-top: 20px;
}

.fitBlock:first-child {
	margin-top: 10px;
}

.subBx {
	font-size: 15px;
	color: #1f1f1f;
}

.btnBx {
	position: absolute;
	bottom: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;

}

.finalCalc {
	padding: 10px 30px;
	border: none;
	background-color: #d2d2d2;
	color: var(--first-color);
	border-radius: 4px;
	margin-right: 10px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	font-family: var(--body-font);
}

.finalReset {
	border: none;
	background-color: transparent;
	font-family: var(--body-font);
	font-size: 15px;
	color: #a1a1a1;
	cursor: pointer;

}