@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
	--block-color:  #fffdff;
	--text-color:  #9d4bff;
	--text-color-dark: #23004d;
	--light-color:  #fdfdfd;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Poppins";
	/*overflow: hidden;*/
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;	
}

.picture_box {
	width: 20vw;
	height: 20vh;
	min-height: 850px;
	min-width: 850px;
	/*max-height: 100% !important;*/
	background-color: var(--block-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	border: 5px solid #10f1;
}

img {
	max-width: calc(100% - 5vh);
	user-select: none;
	position: relative;
	right: -10px;

}

.login_box {
	position: relative;
	left: 50px;
	width: 5000px; /*Fix it */
	height: 500px;
	background-color: var(--block-color);
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: -10px 5px 15px rgba(0, 0, 0, 0.10);
	border: 5px solid #10f1;
}

h2 {
	position: relative;
	top: -50px;
	color: var(--text-color-dark);
	font-weight: 600;
}

input {
	height: 40px;
	outline:  none;
	border:  none;
	border-radius: 8px;
	border: 3px solid #10f1;
	background-color: var(--light-color);
	padding-left: 30px;
	color: var(--text-color-dark);
	font-family: "Poppins";
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	width: 80%;
	max-width: 250px;

}

label {
	position: relative;
	right: 105px;
	top: -35px;
	color: var(--text-color);
	font-size: 20px;
}

.newPwsd {
	text-decoration: none;
	color: lightslategrey;
	text-align: right;
	position: relative;
	left: 60px;
	/*display: block;*/
	/*float: right;*/

}


input::placeholder {
	font-weight: 500;
	user-select: none;
}

button {
	display: flex;
	user-select: none;
	align-items: center;
	justify-content: center;
	background-color: var(--text-color);
	outline: none;
	border: none;
	/*padding: 20px 40px;*/
	border-radius: 10px;
	width: 80%;
	max-width: 250px;
	height: 50px;
	color: snow;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 500;
	/*margin-bottom: 100px;*/
	position: relative;
	top: 25px;
	cursor:  pointer;
}

button:hover {
	box-shadow: 1px 3px 8px rgba(157,75,255, 0.56);
}

.reg {
	position: relative;
	top: 75px;
}

@media screen and (max-width: 1000px) {
	.container {
		display: flex;
		flex-direction: column;
		/*background-color: yellow;*/
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow-x: hidden;

	}
	.picture_box {
		display: flex;
		position: relative;
		top: 200px;
		flex-direction:  column;
		align-items: center;
		justify-content: center;
		/*height: 90vh;*/
		/*overflow: hidden;*/
		/*border-bottom: none;*/
		/*border-top: none;*/
	}

	.login_box {
		width: 500px;
		left: 0;
	}

	img {
		max-width: calc(37.5vw) !important;
		user-select: none;
		position: relative;
		top: -20px;
		/*right: -10px;*/

	}
}